doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

    title Angular Starter
    script(src="js/vendor.bundle.js")
  body
    h1 Angular Sample Application
    nav
      ul
        li
          a(href="/") Home
        li
          a(href="/users") Users
    block body

